body{
    background-color: #ffc8dd;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
    padding: 3%;
}

footer{
    
}

h1{
    font-size: 2.5rem;
}

h6{
    font-size: 1rem;
}

.categorias{
    background-color: #ffafcc;
}
.head1{
    
    
}
 
.headerbusqueda{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin: 2%;
    
}
.container{
    background-color: #cdb4db;
    margin: 5px;
    padding: 5px;
}
.product{
    display: grid;
    justify-items: center;

}

.name-product{
    width: 100%;
}

.img-redonda{
    width: 60px;
    height: 60px;
    border-radius: 300px;
    padding: 1%;
    margin: 1%;
    padding: 10px;
}

.redes{
    background-color: #ffd6ff;
    display: flex;
    padding: 5%;
    margin: 2%;
    flex-direction: column;
    align-items: center;
}
@media