img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
    padding: 3%;
}

footer{
    background-color: aqua;
}
.head1{
    background-color: blueviolet;
}
 
.headerbusqueda{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin: 2%;
    
}
.container{
    background-color: red;
    margin: 5px;
    padding: 5px;
}
.product{
    display: grid;
    justify-items: center;
}

@media